@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Импорт контрагентов из файла</h3>
<div>
    <form role="form">
        <div class="form-group">
            <input type="file" class ="form-control" id="uploadFile" accept="text/plain"/>  
        </div>  
        <div class="form-group">
            <input type="checkbox" id="checkBoxDubles"/>
            <label>Выгружать найденные дубликаты (для обновления в БД ранее созданных записей)</label>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" id="submit">Вывести данные из файла</button>
                <button type="button" class="btn btn-default" id="addToDB">Загрузить отмеченных контрагентов в БД</button>
            </div>
        </div>
</form>
</div>
<br>

<div id="modDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Контрагент</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">                   
                     <div class="form-group"><label class="control-label col-md-2" for="viewtName">Название: </label><div class="col-md-10"><input type="text" id="viewName" class="form-control" readonly/></div></div>
                     <div class="form-group"><label class="control-label col-md-2" for="viewInn">ИНН: </label><div class="col-md-10"><input type="text" id="viewInn" class="form-control" readonly/></div></div>
                     <div class="form-group"><label class="control-label col-md-2" for="viewAccount">Расчетный счет: </label><div class="col-md-10"><input type="text" id="viewAccount" class="form-control" readonly/></div></div>
                     <div class="form-group"><label class="control-label col-md-2" for="viewBankName">Название банка: </label><div class="col-md-10"><input type="text" id="viewBankName" class="form-control" readonly/></div></div>
                     <div class="form-group"><label class="control-label col-md-2" for="viewBankCity">Город банка: </label><div class="col-md-10"><input type="text" id="viewBankCity" class="form-control" readonly/></div></div>                    
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-right">
                    <button id="closeKontrAgent" type="button" class="btn btn-primary">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div> 

<div id="tableBlock"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var listKontrAgents; //глобальная переменная для ведения списка записей, полученных из файла
            ChangeDBElementsDisable(true); //установка доступности флажка и кнопки для загрузки в БД

            $('#submit').click(function (event) {
                event.preventDefault();
                ImportKontrAgents(); //переходим к парсингу файла
            });

            $('#addToDB').click(function (event) {
                event.preventDefault();
                AddKontrAgents(); //переходим к добавлению данных из файла в БД
            });

            $("#closeKontrAgent").click(function (event) {
                event.preventDefault();
                CloseKontrAgent(); //закрываем модальное окно
            });

            $("#checkBoxDubles").change(function (event) {
                event.preventDefault();
                ChangeDublesChecked(this.checked); //устанавливаем отметку о выгрузке для найденных дубликатов
            });

            $('#modDialog').on('hidden.bs.modal', function () {
                $(this).find("input").val('').end(); //очищаем все поля ввода в модальном окне при его сокрытии 
            });
        });

        //отправка файла на сервер и парсинг контрагентов из файла
        function ImportKontrAgents() {
            if (document.getElementById('uploadFile').value != '') {
                var files = document.getElementById('uploadFile').files;
                if (files != undefined && files.length > 0) {
                    if (window.FormData != undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        $.ajax({
                            type: "POST",
                            url: '/api/import',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                ChangeDBElementsDisable(false); //установка доступности флажка и кнопки для загрузки в БД
                                listKontrAgents = result; //заполняем глобальную переменную - список контрагентов из файла
                                WriteResponse(result); //заполняем таблицу данными о контрагентах
                            },
                            error: function (request, status, error) {
                                alert(request.responseText + '\n' + status + '\n' + error);
                            }
                        });
                    }
                    else {
                        alert("Извините, Ваш браузер не поддерживает загрузку файлов");
                    }
                }
                else {
                    alert("Извините, Ваш браузер не поддерживает загрузку файлов");
                }
            }
            else {
                alert("Пожалуйста, предварительно укажите путь к файлу");
            }
        }


        //вывод полученных данных о контрагентах на экран в виде таблицы
        function WriteResponse(kontrAgents) {
            var strResult = "<h3>Список уникальных контрагентов в файле</h3><table class='table table-striped'><th>№</th><th>Название</th><th>ИНН</th>" + /*"<th>Расчетный счет</th><th>Название банка</th><th>Город банка</th>"*/ "<th>Дубликат в БД по ИНН и названию</th>" + "<th>Загружать в БД</th><th></th>";
            var tempNote;
            var tempChecked;
            var oneDubl = false;
            $.each(kontrAgents, function (index, kontrAgent) {
                if (kontrAgent.Id != 0) //значит, найден дубликат - сообщаем об этом и по умолчанию не ставим отметку о загрузке в БД
                {
                    tempNote = "найден";
                    tempChecked = "";
                    oneDubl = true;
                }
                else
                {
                    tempNote = "-";
                    tempChecked = " checked ";
                }

                strResult += "<tr><td> " + (index + 1) + "</td><td>" + kontrAgent.Name + "</td><td>" + kontrAgent.Inn + "</td>" +
                /*"<td>" + kontrAgent.Account + "</td><td>" + kontrAgent.BankName + "</td><td>" + kontrAgent.BankCity + "</td>" +*/
                "<td>" + tempNote + "</td>"+
                "<td><input type='checkbox' " + tempChecked  + " id='checkBox" + index + "'/></td>" + "<td><a id='viewItem' onclick='ShowKontrAgent(" + index + ");' >Просмотреть</a></td>" +
                "</tr>";
            });
            strResult += "</table>";

            $("#tableBlock").html(strResult);

            if(!oneDubl) //если нет дубликатов - не нужно делать доступным флажок для их массового выделения 
            {
                $("#checkBoxDubles").prop('disabled', true);
            }
        }

        //обработчик выбора просмотра напротив контрагента в таблице
        function ShowKontrAgent(index) {
            //выводим все данные на форму
            $("#viewInn").val(listKontrAgents[index].Inn);
            $("#viewAccount").val(listKontrAgents[index].Account);
            $("#viewName").val(listKontrAgents[index].Name);
            $("#viewBankName").val(listKontrAgents[index].BankName);
            $("#viewBankCity").val(listKontrAgents[index].BankCity);

            $('#modDialog').modal('show');
        }

        //закрытие модального окна с картой контрагента - скрываем окно
        function CloseKontrAgent() {
            $('#modDialog').modal('hide');
        }

        //смена отметки о необходимости выгрузки на найденных дубликатах
        function ChangeDublesChecked(newChecked){
            //проходим по глобально определенному списку загруженных из файла записей
            $.each(listKontrAgents, function (index, kontrAgent) {
                if (kontrAgent.Id != 0) //найден дубликат в БД - устанавливаем новое значение отметки "Выгружать в БД"
                {
                    $("#checkBox" + index).prop("checked", newChecked);
                }
            });
        }

        //смена доступности флажка "Добавлять в БД найденные дубликаты" и кнопки "Добавить данные в БД"
        function ChangeDBElementsDisable(newEnableValue)
        {
            $("#checkBoxDubles").prop('disabled', newEnableValue);
            $("#addToDB").prop('disabled', newEnableValue);
        }

        //добавление отмеченных контрагентов в БД
        function AddKontrAgents() {
            //список из файла загружен
            if (typeof listKontrAgents != "undefined") {
                var checkedCount = 0;
                var tempArray = [];
                
                //проходим по глобально определенному списку загруженных из файла записей
                $.each(listKontrAgents, function (index, kontrAgent) {
                    //если запись отмечена флажком - добавляем в БД
                    if ($("#checkBox" + index).prop("checked") == true) {                        
                        tempArray[checkedCount++] = {
                            Id: kontrAgent.Id,
                            Name: kontrAgent.Name,
                            Inn: kontrAgent.Inn,
                            Account: kontrAgent.Account,
                            BankName: kontrAgent.BankName,
                            BankCity: kontrAgent.BankCity
                        };
                    }
                });
                if (checkedCount == 0) //нет отмеченных строк
                {
                    alert("Пожалуйста, предварительно отметьте флажком в таблице по крайней мере одну запись для загрузки");
                }
                else //отправляем отмеченные строки на сервер
                {
                    $.ajax({
                            url: '/api/import/createkontragent',
                            type: 'POST',
                            data: JSON.stringify(tempArray),
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {
                                alert(data);
                                $("#tableBlock").html(""); //очищаем таблицу                                
                                $('#uploadFile').prop('value', null); //очищаем поле с названием выбранного файла
                                ChangeDBElementsDisable(true); //установка доступности флажка и кнопки для загрузки в БД
                            },
                            error: function (request, status, error) {
                                alert(request.responseText + '\n' + status + '\n' + error);
                            }
                        });
                }
            }
            else
            {
                alert("Пожалуйста, предварительно укажите путь к файлу и нажмите кнопку 'Вывести данные из файла'");
            }
        }


    </script>
}