<h3>Импорт контрагентов из файла</h3>
<div>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2" for="uploadFile">Укажите путь к файлу</label>
            <div class="col-md-10">
                <input type="file" class="form-control" name="upload" id="uploadFile" accept="text/plain"/>
            </div>
        </div>
        <button type ="button" class ="btn btn-primary pull-right" id="submit">Загрузить</button>
    </form>
</div>