@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Импорт контрагентов из файла</h3>
<div>
    <form role="form">
        <div class="form-group">
            <input type="file" class ="form-control" id="uploadFile" accept="text/plain"/>     
        </div>  
        <div class="form-group">
            <button type="button" class="btn btn-primary pull-right" id="submit">Загрузить</button>
        </div>
    </form>
</div>
<br>
<div id="tableBlock"></div>

@section scripts{
    <script type="text/javascript">

    $('#submit').on('click', function (e) {
        e.preventDefault();
        if (document.getElementById('uploadFile').value != '')
        {
            var files = document.getElementById('uploadFile').files;
            if (files != undefined && files.length > 0)
            {
                if (window.FormData != undefined)
                {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++)
                    {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/api/import',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            WriteResponse(result);
                            $('#uploadFile').prop('value', null);
                        },
                        error: function (xhr, status, p3) {
                            alert(xhr.responseText);
                        }
                    });
                }
                else
                {
                    alert("Извините, Ваш браузер не поддерживает загрузку файлов");
                }
            }
            else
            {
                alert("Извините, Ваш браузер не поддерживает загрузку файлов");
            }
        }
        else
        {
            alert("Пожалуйста, предварительно укажите путь к файлу");
        }
        
    });


    //вывод полученных данных о контрагентах на экран в виде таблицы
    function WriteResponse(kontrAgents) {
        var strResult = "<h3>Список контрагентов в файле</h3><table class='table table-striped'><th>Название</th><th>ИНН</th><th>Расчетный счет</th><th>Название банка</th><th>Город банка</th>";
        $.each(kontrAgents, function (index, kontrAgent) {
            strResult += "<tr><td> " + kontrAgent.Name + "</td><td>" +
            kontrAgent.Inn + "</td><td>" + kontrAgent.Account + "</td><td>" + kontrAgent.BankName + "</td><td>" + kontrAgent.BankCity +
            "</td><td><a id='editItem' data-item='" + kontrAgent.Id + "' onclick='EditItem(this);' >Просмотреть</a></td>" +
            "</tr>";
        });
        strResult += "</table>";

        $("#tableBlock").html(strResult);
    }


    </script>
}