@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Список контрагентов</h3>
<div>
    <button type="button" class="btn btn-primary pull-right" id="newKontrAgent">Добавить вручную</button>
</div>
<br><br>
<div id="modDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Контрагент</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div id="editBlock">
                        <div class="form-group"><input type="hidden" id="editId" /></div>
                        <div class="form-group"><label class="control-label col-md-2" for="editName">Название: </label><div class="col-md-10"><input type="text" id="editName" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="editInn">ИНН: </label><div class="col-md-10"><input type="text" id="editInn" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="editAccount">Расчетный счет: </label><div class="col-md-10"><input type="text" id="editAccount" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="editBankName">Название банка: </label><div class="col-md-10"><input type="text" id="editBankName" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="editBankCity">Город банка: </label><div class="col-md-10"><input type="text" id="editBankCity" class="form-control" required /></div></div>
                    </div>
                    <div id="createBlock">
                        <div class="form-group"><label class="control-label col-md-2" for="addName">Название: </label><div class="col-md-10"><input type="text" id="addName" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="addInn">ИНН: </label><div class="col-md-10"><input type="text" id="addInn" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="addAccount">Расчетный счет: </label><div class="col-md-10"><input type="text" id="addAccount" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="addBankName">Название банка: </label><div class="col-md-10"><input type="text" id="addBankName" class="form-control" required /></div></div>
                        <div class="form-group"><label class="control-label col-md-2" for="addBankCity">Город банка: </label><div class="col-md-10"><input type="text" id="addBankCity" class="form-control" required /></div></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-right">
                    <button id="editKontrAgent" type="button" class="btn btn-primary">Сохранить</button>
                    <button id="addKontrAgent" type="button" class="btn btn-primary">Добавить</button>
                    <button id="closeKontrAgent" type="button" class="btn btn-default">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tableBlock"></div>     


@section scripts
{
            <script type="text/javascript">
                $(document).ready(function () {

                    GetKontrAgents(); //получаем список контрагентов

                    $("#newKontrAgent").click(function (event) {
                        event.preventDefault();
                        ChangeModalView("add"); //отображаем окно для добавления
                        $('#modDialog').modal('show');
                    });

                    $("#editKontrAgent").click(function (event) {
                        event.preventDefault();
                        EditKontrAgent(); //переходим к редактированию
                    });

                    $("#addKontrAgent").click(function (event) {
                        event.preventDefault();
                        AddKontrAgent(); //переходим к добавлению
                    });

                    $("#closeKontrAgent").click(function (event) {
                        event.preventDefault();
                        CloseModal(); //закрываем модальное окно
                    });

                    

                });

                //получение всех контрагентов
                function GetKontrAgents() {
                    $.ajax({
                        url: '/api/kontragents',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            WriteResponse(data); //в случае успеха выводим таблицу с данными
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                }

                //вывод полученных данных о контрагентах на экран в виде таблицы
                function WriteResponse(kontrAgents) {
                    var strResult = "<table class='table table-striped'><th>№</th><th>Название</th><th>ИНН</th>" /*+ "<th>Расчетный счет</th><th>Название банка</th><th>Город банка</th>"*/ + "<th></th><th></th>";
                    $.each(kontrAgents, function (index, kontrAgent) {
                        strResult += "<tr><td> " + (index + 1) + "</td><td>" + kontrAgent.Name + "</td><td>" + kontrAgent.Inn + "</td>" +
                        /*"<td>" + kontrAgent.Account + "</td><td>" + kontrAgent.BankName + "</td><td>" + kontrAgent.BankCity + "</td>" +*/
                        "<td><a id='editItem' data-item='" + kontrAgent.Id + "' onclick='EditItem(this);' >Редактировать</a></td>" +
                        "<td><a id='delItem' data-item='" + kontrAgent.Id + "' onclick='DeleteItem(this);' >Удалить</a></td></tr>";
                    });
                    strResult += "</table>";

                    $("#tableBlock").html(strResult);
                }

                //обработчик выбора удаления напротив контрагента в таблице
                function DeleteItem(el) {
                    if (confirm("Данную операцию нельзя будет отменить. Продолжить?"))
                    {
                        //получаем id удаляемого объекта
                        var id = $(el).attr('data-item');
                        //удаляем из БД по идентификатору
                        DeleteKontrAgent(id);
                    }
                }

                //удаление контрагента из базы по идентификатору
                function DeleteKontrAgent(id) {
                    $.ajax({
                        url: '/api/kontragents/' + id,
                        type: 'DELETE',
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            GetKontrAgents(); //в случае успеха обновляем список
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                }

                //обработчик выбора редактирования напротив контрагента в таблице
                function EditItem(el) {
                    //получаем id редактируемого объекта
                    var id = $(el).attr('data-item');
                    //запрашиваем данные в БД для их отображения на форме
                    GetKontrAgent(id);
                }

                //запрос данных контрагента по идентификатору для дальнейшего редактирования
                function GetKontrAgent(id) {
                    $.ajax({
                        url: '/api/kontragents/' + id,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            ShowKontrAgent(data); //в случае успеха выводим данные в карту контрагента
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                }

                //вывод данных редактируемого контрагента в поля для редактирования
                function ShowKontrAgent(kontrAgent) {
                    if (kontrAgent != null) {                                          
                        ChangeModalView("edit");

                        //выводим все данные на форму
                        $("#editId").val(kontrAgent.Id);
                        $("#editInn").val(kontrAgent.Inn);
                        $("#editAccount").val(kontrAgent.Account);
                        $("#editName").val(kontrAgent.Name);
                        $("#editBankName").val(kontrAgent.BankName);
                        $("#editBankCity").val(kontrAgent.BankCity);

                        $('#modDialog').modal('show');
                    }
                    else {
                        alert("Такой контрагент не существует");
                    }
                }

                //добавление нового контрагента в базу путем нажатия "Сохранить" в карте контрагента  (в случае активности блока добавления)
                function AddKontrAgent() {
                    //получаем значения для добавляемого контрагента
                    var kontrAgent =
                    {
                        Name: $('#addName').val(),
                        Inn: $('#addInn').val(),
                        Account: $('#addAccount').val(),
                        BankName: $('#addBankName').val(),
                        BankCity: $('#addBankCity').val()
                    };

                    //проверяем на наличие дубликата в БД
                    $.ajax({
                        url: '/api/kontragents/0',
                        type: 'POST',
                        data: JSON.stringify(kontrAgent),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data == null || confirm("В БД найден дубликат введенного Вами контрагента по ИНН и названию (\n" + WriteFullKontrAgentName(data) + "\n). Все равно выполнить добавление?"))
                            {
                                AddKontrAgentDB(kontrAgent);
                            }                            
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });                  
                }

                //добавление контрагента в БД - в случае, если нет дубликатов или они проигнорированы
                function AddKontrAgentDB(kontrAgent) {
                    $.ajax({
                        url: '/api/kontragents',
                        type: 'POST',
                        data: JSON.stringify(kontrAgent),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            CloseModal(); //закрываем окно с картой контрагента
                            GetKontrAgents(); //в случае успеха обновляем список
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                }

                //обновление данных контрагента в базе путем нажатия "Сохранить" в карте контрагента (в случае активности блока редактирования)
                function EditKontrAgent() {
                    var id = $('#editId').val();

                    //получаем новые значения для редактируемого контрагента
                    var kontrAgent = {
                        Id: $('#editId').val(),
                        Name: $('#editName').val(),
                        Inn: $('#editInn').val(),
                        Account: $('#editAccount').val(),
                        BankName: $('#editBankName').val(),
                        BankCity: $('#editBankCity').val()
                    };
                    //проверяем на наличие дубликата в БД
                    $.ajax({
                        url: '/api/kontragents/0',
                        type: 'POST',
                        data: JSON.stringify(kontrAgent),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data == null || confirm("В БД найден дубликат введенного Вами контрагента по ИНН и названию (\n" + WriteFullKontrAgentName(data) + "\n). Все равно выполнить сохранение?")) {
                                EditKontrAgentDB(kontrAgent);
                            }
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });                    
                }

                //редактируем непосредственно в БД
                function EditKontrAgentDB(kontrAgent)
                {
                    $.ajax({
                        url: '/api/kontragents/' + kontrAgent.Id,
                        type: 'PUT',
                        data: JSON.stringify(kontrAgent),
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            CloseModal(); //закрываем окно с картой контрагента
                            GetKontrAgents(); //в случае успеха обновляем список
                        },
                        error: function (x, y, z) {
                            alert(x + '\n' + y + '\n' + z);
                        }
                    });
                }

                //закрытие модального окна с картой контрагента - очищаем все поля и скрываем окно
                function CloseModal() {
                    $("#editId").val(0);
                    $("#editInn").val("");
                    $("#editAccount").val("");
                    $("#editName").val("");
                    $("#editBankName").val("");
                    $("#editBankCity").val("");

                    $("#addInn").val("");
                    $("#addAccount").val("");
                    $("#addName").val("");
                    $("#addBankName").val("");
                    $("#addBankCity").val("");

                    $('#modDialog').modal('hide');
                }

                //необходимые изменения во внешнем виде модального окна
                function ChangeModalView(mode)
                {
                    if(mode == "add") //режим добавления
                    {
                        $("#createBlock").show(); //скрываем блок редактирования и отображаем блок добавления
                        $("#addKontrAgent").show();
                        $("#editBlock").hide();
                        $("#editKontrAgent").hide();
                    }
                    else //режим редактирования
                    {
                        $("#createBlock").hide(); //скрываем блок добавления и отображаем блок редактирования
                        $("#addKontrAgent").hide();
                        $("#editBlock").show();
                        $("#editKontrAgent").show();
                    }
                }

                //форматированный вывод данных контрагента (используется при поиске дубликатов)
                function WriteFullKontrAgentName(kontrAgent)
                {
                    return  "Название: " + kontrAgent.Name + "\nИНН: " + kontrAgent.Inn + "\nР/с: " + kontrAgent.Account + "\nНазвание банка: " + kontrAgent.BankName + "\nГород банка: " + kontrAgent.BankCity;
                }

            </script>
        }
